<div class="text-center mt-5">
    <h1 class="display-4">@Localizer["Hello World!"]</h1>
    <p>@Localizer["This is a project, to visualize musics..."]</p>
</div>

<div class="container py-4">

    <div class="row g-4 justify-content-center">

        <div class="col-md-6 text-center">
            <div class="circle-widget">
                <h2>半音阶 (Chromatic)</h2>
                <div class="circle-container">
                    <div id="chromatic-outer-circle" class="outer-circle"></div>
                    <div id="chromatic-inner-circle" class="inner-circle">
                        <div class="current-key-display">
                            <span class="key-name">C</span>
                            <span class="key-mode">Major</span>
                        </div>
                    </div>
                </div>
                <div class="controls mt-3">
                    <button id="chromatic-rotate-left" class="btn btn-primary">⟲ 向左转</button>
                    <button id="chromatic-rotate-right" class="btn btn-primary">向右转 ⟳</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="circle-widget">
                <h2>五度圈 (Fifths)</h2>
                <div class="circle-container">
                    <div id="fifths-outer-circle" class="outer-circle"></div>
                    <div id="fifths-inner-circle" class="inner-circle">
                        <div class="current-key-display">
                            <span class="key-name">C</span>
                            <span class="key-mode">Major</span>
                        </div>
                    </div>
                </div>
                <div class="controls mt-3">
                    <button id="fifths-rotate-left" class="btn btn-primary">⟲ 向左转</button>
                    <button id="fifths-rotate-right" class="btn btn-primary">向右转 ⟳</button>
                </div>
            </div>
        </div>

    </div>
    <div class="row g-4 mt-4 justify-content-center">

        <div class="col-12 col-lg-10">
            <div class="piano-container table-responsive">
            </div>
        </div>

        <div class="col-12">
            <div id="key-signature-container"
                 class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
            </div>
        </div>
    </div>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section scripts {
    <script src="scripts/major.js"></script>
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section styles {
    <link rel="stylesheet" href="~/styles/site.css" />
}
