@{
    ViewData["Title"] = @Localizer["Interval Exam"];
}

<div id="localization-data" data-perfect-unison="@Localizer["Perfect Unison"]"
    data-minor-second="@Localizer["Minor Second"]" data-major-second="@Localizer["Major Second"]"
    style="display: none;">
</div>

<div class="container-fluid py-4">
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4">
            <h1 id="questionLabel"></h1>
        </div>
        <div class="col-lg-7">

            <div id="question-staff-container"
                class="d-flex flex-column flex-md-row align-items-center gap-3 flex-wrap">

            </div>
        </div>
    </div>

    <div class="row g-4 justify-content-center mb-4">
        <h1>Select Answer</h1>
    </div>

    <div class="row g-4 justify-content-center">
        <div class="col-lg-4">

            <div id="staff-answer1-container"
                class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 flex-wrap exam-answer">

            </div>
        </div>
        <div class="col-lg-4">

            <div id="staff-answer2-container"
                class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 flex-wrap exam-answer">

            </div>
        </div>
        <div class="col-lg-4">

            <div id="staff-answer3-container"
                class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 flex-wrap exam-answer">

            </div>
        </div>
    </div>
</div>


@* ReSharper disable once Razor.SectionNotResolved *@
@section scripts {
    @* 我们现在引用新的、重构过的 JS 文件。
      (您需要将上面的代码保存到这些文件中)
    *@
    <script src="~/scripts/staff.js"></script>
    <script src="~/scripts/interval-exam.js"></script>
    <script>
        // --- 使用新的、重构过的代码 ---

        // 1. 创建 Staff 实例
        // 我们可以指定谱号！这里我们都用高音谱表
        const questionStaff = new Staff('question-staff-container', 'treble');

        const answer1Staff = new Staff('staff-answer1-container', 'treble');
        const answer2Staff = new Staff('staff-answer2-container', 'treble');
        const answer3Staff = new Staff('staff-answer3-container', 'treble');

        // 2. 创建 ExamQuestion 实例
        const examQuestion = new ExamQuestion(
            questionStaff,
            [answer1Staff, answer2Staff, answer3Staff],
            document.getElementById('questionLabel')
        );

        // 3. 开始考试！
        examQuestion.nextQuestion();

    </script>
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section styles {
    <link rel="stylesheet" href="~/styles/site.css" />
}
